.form {
    background-image: 
    linear-gradient(105deg , white 0% , white 50%, transparent 50%),
    url("../../images/form.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 80%;
    height: 32rem;
    border-radius: 12px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    
}
.custom-form{
    width: 50%;
}
.head{
    padding: 5px 10px ;
    color: rgb(54, 128, 54);
    font-family: "Lato" , sans-serif;
}
.form-access{
    margin-bottom: 20px;
    position: relative;
    margin-top:30px ;
    margin-left: 20px;
}

.form-access label , 
.form-access input{
    display: block;
}
.form-access label {
position: absolute;
top: -20px;
left: 0;
font-size: 13px;
color: gray;
font-weight: bold;
transition: 0.5s;
} 
.form-access input:placeholder-shown + label{
position: absolute;
top: 20px;
left: 0;
color: transparent;
}
 .form-access input {
    padding: 20px 20px ;
    outline: none;
    border: none;
    width: 80%;
    border-radius: 4px;
    background-color: white;
    font-family: "Lato" , sans-serif;
    box-shadow: 0 0 10px rgba(153, 152, 152) inset;
 }
 .form-access input:focus:valid{
    border-bottom:3px solid rgb(54, 128, 54);
 }
 .form-access input:focus:not(:valid){
    border-bottom:3px solid orangered ;
 }
 .form-access input:focus{
    box-shadow: 0 0 10px rgba(153, 152, 152) inset;
 }
